# Assigment 1 PL/SQL
## Prince 101916056 2cs10

In [ ]:
--1) WAP to find the greatest of three numbers. 
# answer
declare
a number(4):=7;
b number(4):=6;
c number(4):=5;
begin
if a>=b and a>=c  then 
    dbms_output.put_line('greatest of all is ' || a);
elsif b>=a and b>=c  then 
    dbms_output.put_line('greatest of all is ' || b);
else 
    dbms_output.put_line('greatest of all is ' || c);
end if;
end;

In [ ]:
--2) WAP to check whether number is odd or even. 
# answer
declare
a number(4):=7;
begin
if mod(a,2)=0  then 
    dbms_output.put_line(' number is even ');
else 
    dbms_output.put_line(' number is odd ');
end if;
end;

In [ ]:
--3) WAP to find the grade. Consider the following: 
-- Marks > 80 A grade 
--Marks >70 B grade 
--Marks >50 C grade 
--Marks > 40 D grade 
--Marks < 40 E grade 
# answer
declare
a number(3):=75;
begin
if a>=80  then 
    dbms_output.put_line('A grade ');
elsif a>=70 and a<80  then 
    dbms_output.put_line('B grade ');
elsif a>=50 and a<70  then 
    dbms_output.put_line('C grade ');
elsif a>=40 and a<50  then 
    dbms_output.put_line('D grade ');
else 
    dbms_output.put_line('E grade ');
end if;
end;

In [ ]:
--4) WAP to print the table of a given number.(use for loop) 
# answer
declare
a number(4):=7;
res number(4);
begin
for c in 1..10 loop
    res:=a*c;
    dbms_output.put_line(a||'x'||c||'='||res);
end loop;
end;

In [ ]:
--5) WAP to find out the factorial of a given number.(use while loop) 
# answer
declare
a number(4):=7;
res1 number(10):=1;
begin
    while a>=1 loop
        res1:=res1*a;
        a:=a-1;
    end loop;
    dbms_output.put_line(res1);
end;

In [ ]:
--6) WAP to find out the Fibonacci series.
# answer
declare
a number(4):=7;
res2 number(10);
res1 number(10):=0;
res number(10):=1;
begin
    dbms_output.put_line(res1);
    dbms_output.put_line(res);
    while a>=3 loop
        res2:=res1+res;
        dbms_output.put_line(res2);
        res1:=res;
        res:=res2;
        a:=a-1;
    end loop;
end;

In [ ]:
--7) WAP to find the reverse of a number(use exit when stement)
# answer
declare
a number(4):=7;
res2 number(10):=a;
i number(10):=-1*a;
begin
   loop
        exit when res2=i;
        res2:=res2-1;
   end loop;
   dbms_output.put_line(res2);
end;

In [ ]:
--8) WAP to reverse a string.
# answer
declare
str varchar(20):='Prince';
rvstr  varchar(20);
indx number(3);
begin
    indx:=length(str);
    while indx>0 loop
        rvstr:=rvstr || substr(str,indx,1);
        indx:=indx-1;
    end loop;
     dbms_output.put_line(rvstr);
end;

# Assignment 2 PL/SQL

In [ ]:
1. PL/SQL block to update total sal for empno 100. 
Eno,ename, bp,da,hra,total.
# answer

In [ ]:
2. PL/SQL block to calculate fine for rno 100
Rno, bookno, doi, dor, fine
Fine is rs 1 if days<7
Fine is rs 2 if days<14 and >7
Fine is rs 3 if days>14
Amount mentioned is for each day.
# answer

In [ ]:
3. PL/SQL block that performs addition (+), subtraction (-), multiplication (*) and 
division (/) of two numbers as choice by the user.
# answer

In [ ]:
4. PL/SQL block to generate multiplication table for 3 to n.
# answer
declare
n number(4):=7;
res number(4);
begin
for a in 3..n loop
    for c in 1..10 loop
       res:=a*c;
       dbms_output.put_line(a||'x'||c||'='||res);
    end loop;
end loop;
end;

In [ ]:
5. PL/SQL block to print 5, 10, 15,20 by using For Loop
# answer

begin
    for i in 1..20 loop
         if mod(i,5)=0 then 
           dbms_output.put_line(i);
          end if;
    end loop;
end;

In [ ]:
6. Pl/SQL block to display welcome message like good morning, good afternoon, 
good night depending on system time.
# answer

In [ ]:
7. WAP that calculate simple interest for principal 1000, time 2 years and rate of 
interest varies from 5 to 15. Store it in a table.
Principal time rate interest
# answer