# ASsignment 1

In [27]:
##### question 1
mth=[40,50,60,40,20,30,80,90,78,89]
sci=[80,90,40,78,90,88,70,68,59,56]
eng=[90,90,90,80,60,40,70,60,48,69]
it=[20,100,65,47,28,38,86,94,34,90]
print(max(mth))
print(min(mth))
print(max(sci))
print(min(sci))
print(max(eng))
print(min(eng))
print(max(it))
print(min(it))
def avg(list1):
    return sum(list1)/len(list1)
print(round(avg(mth),2))
print(round(avg(sci),2))
print(round(avg(eng),2))
print(round(avg(it),2))

std_total=[]
for i in range(10):
    std_total.append(mth[i]+sci[i]+eng[i]+it[i])
print(max(std_total))
print(min(std_total))
print(round(avg(std_total),2))

90
20
90
40
90
40
100
20
57.7
71.9
69.7
60.2
330
196
259.5

In [28]:

##### question 2
sal=int(input("enter the base salary : "))
# i have inputed 25000
if sal<=10000 :
    print(sal+((20/100) * sal)+((80/100) * sal))
elif sal>10000 and sal<=20000:
      print(sal+((25/100) * sal)+((90/100) * sal))
else:
      print(sal+((30/100) * sal)+((95/100) * sal))

56250.0

In [31]:

##### question 3
# ((30/100) * sal)+((95/100) * sal))
paswd=input("enter the password : ") 
import re
valid=1
if not re.search("[a-z]",paswd):
    valid=0
if not re.search("[A-Z]",paswd):
    valid=0
if not re.search("[0-9]",paswd):
    valid=0
if not re.search("[$#@]",paswd):
    valid=0
if not len(paswd)>=6 :
    valid=0
if not len(paswd)<=16:
    valid=0
if valid==1:
    print(" valid password")
else:
    print(" invalid password")

 invalid password

In [ ]:

##### question 4
lt= [10, 20, 30, 40, 50, 60, 70, 80]
lt.append(200)
lt.append(300)
lt.remove(10)
lt.remove(30)
lt.sort(reverse=True)
print(lt)
lt.sort()
print(lt)

In [ ]:
#ans 5
D= {1:'One', 2:'Two', 3:'Three', 4: 'Four', 5:'Five'}
D[6]='six'
del D[2]
print(D)
if 6 in D:
    print ("yes present")
else :
    print ("not present")
#calculating number of elements
count=0
for i in D:
    count=count+1
print(count)
#calculating sum of elements
count=0
for i in D:
    count+=i
print(count)

In [30]:
#ans 6
import random as ra
lt=[ra.randrange(100,900,2) for i in range(20) ]

lt2=[ra.randrange(101,899,2) for i in range(20) ]

def printprime(x,y):
    lt=[]
    for i in range(x,y):
        flag=0
        for j in range(2,i):
            if  i%j==0:
                flag=1
        if flag==0:
            lt.append(i)
    return lt
lt1=[]
for i in range(40):
    lt1.append(ra.choice(printprime(100,900)))

print(lt)
print(lt2)
print(lt1)
print(len(lt))
print(len(lt1))
print(len(lt2))

[352, 390, 676, 124, 740, 826, 264, 602, 336, 282, 836, 818, 144, 520, 468, 656, 782, 242, 306, 322]
[393, 103, 229, 785, 619, 867, 895, 581, 329, 273, 263, 273, 485, 843, 163, 781, 513, 791, 203, 669]
[757, 109, 347, 739, 541, 823, 277, 487, 179, 157, 659, 109, 673, 617, 139, 277, 773, 349, 631, 311, 131, 283, 499, 433, 431, 389, 653, 313, 509, 397, 661, 283, 811, 263, 127, 487, 127, 401, 173, 683]
20
40
20

In [ ]:
#ans 7   
#function in func.py file
#def fun(pa,itr,time):
#   return pa*(1+(itr*time))
    
import func as fn
print(fn.fun(1000,23,24))

In [29]:
# ans 8 (a)
class restaurant():
    def __init__(self,rest_name,cuis_type):
        self.rest_name=rest_name
        self.cuis_type=cuis_type
    def des_rest(self):
        print(" restaurant name is ",self.rest_name)
        print(" cuisine type  is ",self.cuis_type)
    def open_rest(self):
        print("restaurant is open ")
rest=restaurant('motel 5 star ','Dal Makani')

rest.des_rest()
rest.open_rest()
print(rest.rest_name)
print(rest.cuis_type)

 restaurant name is  motel 5 star
 cuisine type  is  Dal Makani
restaurant is open
motel 5 star
Dal Makani

In [32]:
# question 8 (b)
class user:
    def __init__(self,f_name,l_name,phone,email,add):
        self.f_name=f_name
        self.l_name=l_name
        self.phone=phone
        self.email=email
        self.add=add
    def describe_user(self):
        print(self.f_name)
        print(self.l_name)
        print(self.phone)
        print(self.email)
        print(self.add)
    def greet_user(self):
        print(" hello ",self.f_name," ",self.l_name)

a=user("shivom","chawla",939230342,"kon@gmail.com","haryana  punjab")
c=user("vatsal","nanda",93923342532,"vats@gmail.com","haryana and punjab")
e=user("ujjwal","madaan",93923452932,"ujjwl@gmail.com","haryana and punjab")
d=user("vaishant","mkn",932345242,"mkn@gmail.com","haryana  punjab")
b=user("prince","",9392689632,"pc@gmail.com","haryana and punjab")
a.describe_user()
a.greet_user()
b.describe_user()
b.greet_user()
c.describe_user()
c.greet_user()
d.describe_user()
d.greet_user()
e.describe_user()
e.greet_user()

shivom
chawla
939230342
kon@gmail.com
haryana  punjab
 hello  shivom   chawla
prince

9392689632
pc@gmail.com
haryana and punjab
 hello  prince
vatsal
nanda
93923342532
vats@gmail.com
haryana and punjab
 hello  vatsal   nanda
vaishant
mkn
932345242
mkn@gmail.com
haryana  punjab
 hello  vaishant   mkn
ujjwal
madaan
93923452932
ujjwl@gmail.com
haryana and punjab
 hello  ujjwal   madaan

In [39]:
import sqlite3

In [40]:
import pandas as pd

In [45]:
create=""" create table emp(id integer,name integer);"""

In [46]:
exes=sqlite3.connect(':memory:')
exes.execute(create)
exes.commit()

In [54]:
sq=exes.execute('select * from emp')

In [55]:
res=sq.fetchall()

In [56]:
res

[(12, 4), (13, 2)]

In [50]:
ins=[(12,4),(13,2)]

In [51]:
inrt="insert into emp values(?,?);"
exes.executemany(inrt,ins)
exes.commit()

In [57]:
dff=pd.DataFrame(res)

In [58]:
dff

    0  1
0  12  4
1  13  2

In [59]:
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'matplotlib'

In [61]:
import matplotlib as mt

ModuleNotFoundError: No module named 'matplotlib'

In [77]:
dff.plot(x=dff[0],y=dff[1],kind='scatter')

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

In [62]:
!pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\my pc\anaconda3\lib\site-packages (3.3.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\my pc\anaconda3\lib\site-packages (from matplotlib) (8.0.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\my pc\anaconda3\lib\site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\my pc\anaconda3\lib\site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: numpy>=1.15 in c:\users\my pc\anaconda3\lib\site-packages (from matplotlib) (1.19.2)
Requirement already satisfied: certifi>=2020.06.20 in c:\users\my pc\anaconda3\lib\site-packages (from matplotlib) (2020.6.20)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\my pc\anaconda3\lib\site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: cycler>=0.10 in c:\users\my pc\anaconda3\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: six>=1.5 in c:\users\my pc\anaconda3\lib\site-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)